In [3]:
import pandas as pd
from smartprint import smartprint as sprint 

rid_speed_jf = pd.read_csv("data/here_speed_demo/here_speed_sgtime_jf.csv")
sprint(rid_speed_jf.shape)
rid_speed_jf.head()

rid_speed_jf.shape : (5298, 718)

,NID,2022-02-28T23:59:27,2022-03-01T00:01:27,2022-03-01T00:03:27,2022-03-01T00:05:27,2022-03-01T00:07:27,2022-03-01T00:09:27,2022-03-01T00:11:27,2022-03-01T00:13:27,2022-03-01T00:15:27,...,2022-03-01T23:40:27,2022-03-01T23:42:27,2022-03-01T23:44:27,2022-03-01T23:46:27,2022-03-01T23:48:27,2022-03-01T23:50:27,2022-03-01T23:52:27,2022-03-01T23:54:27,2022-03-01T23:56:27,2022-03-01T23:58:27
0,0,0.00000,0.18115,0.18115,0.18115,0.18115,0.18115,0.18115,0.18115,0.18115,...,0.18115,0.18115,0.18115,1.59883,1.59883,1.51053,1.39711,1.28370,1.17028,1.05687
1,1,0.00000,0.00000,0.00000,0.00000,0.00000,1.08790,1.18710,1.22332,1.25305,...,0.03623,0.03663,0.00153,1.36082,1.46486,1.32534,1.32534,1.31533,1.25179,0.64293
2,2,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,1.08516,0.26812
3,3,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.20658,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,1.03301,0.26889
4,4,1.47707,1.54911,1.20348,0.99297,1.20657,0.66794,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.53271,0.53271,0.00000,0.00000,0.00000,0.00000,0.11609

In [4]:
rid_linestring = pd.read_csv("data/here_speed_demo/here_road_linestring_01032022.csv")
sprint (rid_linestring.shape)
rid_linestring.head()

rid_linestring.shape : (5298, 5)

,NID,PC,Description,Length,Linestring
0,0,10,Sembawang Rd,0.02527,"MULTILINESTRING ((103.83183 1.45338 0,103.8317..."
1,1,9,Falkland Rd,0.86297,"MULTILINESTRING ((103.83172 1.45358 0,103.8315..."
2,2,7,Bukit Timah Rd,0.50213,"MULTILINESTRING ((103.81332 1.32347 0,103.8134..."
3,3,6,Adam Rd,0.05212,"MULTILINESTRING ((103.81387 1.32797 0,103.8138..."
4,4,6,Adam Rd,0.34661,"MULTILINESTRING ((103.81551 1.3308 0,103.8154 ..."

In [5]:
result = pd.merge(rid_speed_jf, rid_linestring, on="NID", how="inner")
result = result.drop(columns = ["Length", "Description", "PC", "NID"])
sprint (result.shape)
result.head()

result.shape : (5298, 718)

,2022-02-28T23:59:27,2022-03-01T00:01:27,2022-03-01T00:03:27,2022-03-01T00:05:27,2022-03-01T00:07:27,2022-03-01T00:09:27,2022-03-01T00:11:27,2022-03-01T00:13:27,2022-03-01T00:15:27,2022-03-01T00:17:27,...,2022-03-01T23:42:27,2022-03-01T23:44:27,2022-03-01T23:46:27,2022-03-01T23:48:27,2022-03-01T23:50:27,2022-03-01T23:52:27,2022-03-01T23:54:27,2022-03-01T23:56:27,2022-03-01T23:58:27,Linestring
0,0.00000,0.18115,0.18115,0.18115,0.18115,0.18115,0.18115,0.18115,0.18115,0.18115,...,0.18115,0.18115,1.59883,1.59883,1.51053,1.39711,1.28370,1.17028,1.05687,"MULTILINESTRING ((103.83183 1.45338 0,103.8317..."
1,0.00000,0.00000,0.00000,0.00000,0.00000,1.08790,1.18710,1.22332,1.25305,1.15655,...,0.03663,0.00153,1.36082,1.46486,1.32534,1.32534,1.31533,1.25179,0.64293,"MULTILINESTRING ((103.83172 1.45358 0,103.8315..."
2,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,1.08516,0.26812,"MULTILINESTRING ((103.81332 1.32347 0,103.8134..."
3,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.20658,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,1.03301,0.26889,"MULTILINESTRING ((103.81387 1.32797 0,103.8138..."
4,1.47707,1.54911,1.20348,0.99297,1.20657,0.66794,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.53271,0.53271,0.00000,0.00000,0.00000,0.00000,0.11609,"MULTILINESTRING ((103.81551 1.3308 0,103.8154 ..."

In [6]:
rid_speed_ci = pd.read_csv("data/here_speed_demo/here_speed_sgtime_cn.csv")
sprint(rid_speed_ci.shape)
rid_speed_ci.head()

rid_speed_ci.shape : (5298, 718)

,NID,2022-02-28T23:59:27,2022-03-01T00:01:27,2022-03-01T00:03:27,2022-03-01T00:05:27,2022-03-01T00:07:27,2022-03-01T00:09:27,2022-03-01T00:11:27,2022-03-01T00:13:27,2022-03-01T00:15:27,...,2022-03-01T23:40:27,2022-03-01T23:42:27,2022-03-01T23:44:27,2022-03-01T23:46:27,2022-03-01T23:48:27,2022-03-01T23:50:27,2022-03-01T23:52:27,2022-03-01T23:54:27,2022-03-01T23:56:27,2022-03-01T23:58:27
0,0,0.70,0.70,0.70,0.70,0.70,0.70,0.70,0.70,0.70,...,0.70,0.70,0.70,0.81,0.81,0.77,0.77,0.75,0.75,0.75
1,1,0.80,0.79,0.77,0.77,0.75,0.84,0.83,0.79,0.79,...,0.76,0.76,0.74,0.80,0.79,0.76,0.76,0.75,0.74,0.73
2,2,0.99,0.99,0.99,0.99,0.99,0.99,0.99,0.99,0.99,...,0.99,0.99,0.99,0.99,0.99,0.99,0.99,0.99,0.99,0.99
3,3,0.99,0.99,0.99,0.99,0.99,0.99,0.99,0.99,0.99,...,0.99,0.99,0.99,0.99,0.99,0.99,0.99,0.99,0.99,0.99
4,4,0.98,0.96,0.96,0.97,0.95,0.98,0.99,0.99,0.99,...,0.99,0.99,0.99,0.99,0.99,0.99,0.99,0.99,0.99,0.98

In [7]:
# all combined

import pandas as pd
from smartprint import smartprint as sprint 

rid_speed_jf = pd.read_csv("data/here_speed_demo/here_speed_sgtime_jf.csv")
rid_speed_ci = pd.read_csv("data/here_speed_demo/here_speed_sgtime_cn.csv")
merged_jf = pd.merge(rid_speed_jf, rid_linestring, on="NID", how="inner")
merged_ci = pd.merge(rid_speed_ci, rid_linestring, on="NID", how="inner")